#titulo{
    width: 900px;
    height: 50px;
    background-color: rgb(3, 38, 194);
    position: absolute;
    top: 10px;
    left: 30px;

}
#nums{
    width: 200px;
    height: 280px;
    background-color: rgb(233, 5, 5);
    position: absolute;
    top: 60px;
    left: 30px;

}
#lorem{
    width: 730px;
    height: 470px;
    background-color: rgb(251, 255, 10);
    position: absolute;
    top: 60px;
    left: 200px;
}
#final{
    display: flex;
    align-items: center;
    
    width: 900px;
    height: 60px;
    background-color: rgb(223, 135, 3);
    position: absolute;
    top: 530px;
    left: 30px;
}